<?xml version="1.0"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-couchbase-lite-2.0" version="1.0.2">
  <name>Cordova Couchbase Lite 2.0</name>
  <description>Provides Typescript and ScalaJS APIs over the provided REST API.</description>
  <license>Apache 2.0</license>
  <js-module src="www/cblite.js" name="CouchbaseLite">
    <clobbers target="cbl"/>
  </js-module>
  <engines>
    <engine name="cordova" version=">=6.0.0"/>
  </engines>
  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="CBLite">
        <param name="ios-package" value="CBLite"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>
    <header-file src="src/ios/CBLite.h"/>
    <source-file src="src/ios/CBLite.m"/>
    <framework src="libicucore.dylib"/>
    <framework src="SystemConfiguration.framework"/>
    <framework src="JavaScriptCore.framework"/>
    <framework custom="true" embed="true" src="lib/ios/CouchbaseLite.framework"/>
    <source-file src="lib/ios/CouchbaseLite.framework" target-dir="lib" framework="true" />
  </platform>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CBLite">
        <param name="android-package" value="com.couchbase.cblite.phonegap.CBLite"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>
    <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
    <framework src="build-extras.gradle" custom="true" type="gradleReference"/>
    <source-file src="src/android/CBLite.java" target-dir="src/com/couchbase/cblite/phonegap"/>
    <source-file src="lib/android/commons-io-2.0.1.jar" target-dir="libs"/>
	<framework src="com.squareup.okhttp3:okhttp:3.9.1"/>
	<framework src="com.squareup.okio:okio:1.13.0"/>
  </platform>
</plugin>
